[submodule "include/multiverso/updater/dcasgd"]
	path = include/multiverso/updater/dcasgd
	url = https://github.com/zhengsx/Delayed-Compensation-Asynchronous-Stochastic-Gradient-Descent-for-Multiverso.git
