bin
lib
build
src/multiverso/*.o
src/multiverso_server/*.o
third_party/bin
third_party/etc
third_party/include
third_party/lib
third_party/share
windows/Debug/*
windows/Release/*
windows/x64
windows/multiverso.opensdf
windows/multiverso/Debug
windows/multiverso/Release
windows/*.sdf
windows/*.suo
windows/multiverso/*.user
windows/multiverso_server/*.user
windows/third_party/MPI/Include
windows/third_party/MPI/Lib
windows/third_party/ZeroMQ/include
windows/third_party/ZeroMQ/lib
windows/*/x64
